/* Staking.css */

.containerId {
    display: flex;
    flex-wrap: wrap;
}

.containerId > div {
    /* background-color: green; */
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
}

@media (min-width: 600px) {
    .first-container{
      padding-left: 280px;
      padding-right:0.5px;
    }
    .second-container{
      padding-right:280px;
      padding-left:0.5px;
    }
    
  }
  
  @media (max-width: 599px) {
    
  }
